# Python
*.py linguist-language=Python
requirements.txt linguist-language=Python

# Frontend
src/frontend/** linguist-detectable=true
*.html linguist-language=HTML linguist-detectable=true
*.css linguist-language=CSS linguist-detectable=true
*.js linguist-language=JavaScript linguist-detectable=true

# Documentation
*.md linguist-documentation=false
README.md linguist-documentation=false

# Streamlit specific
*.streamlit/** linguist-language=Python
